<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\InventorySales\Model\IsProductSalableCondition\IsProductSalableConditionChain">
        <arguments>
            <argument name="conditions" xsi:type="array">
                <item name="is_essential_product" xsi:type="array">
                    <item name="required" xsi:type="boolean">true</item>
                    <item name="object" xsi:type="object">Fooman\EssentialCatalog\Model\IsProductEssentialCondition</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>